@using Resources
@model List<GameStore.WebUI.ViewModels.Genre.GenreViewModel>

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>@Resource.Subgenres</h4>
    </div>
    <div class="modal-body">
        
        <ol>          
            @foreach (var genre in Model)
            {
                <li>@genre.Name</li>
            }
        </ol>

    </div>
</div>
